* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;

}


.container {
    padding: 2px;
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.item {
    margin: 20px;
    align-self: center;
    flex: 1;

}

.linkcontainer {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.list {
    font-weight: bold;
    font-size: medium;
    margin: 15px;
}

.navs a {
    text-decoration: none;
    color: orange;
    font-size: larger;
    font-family: 'Cinzel', serif;
}

#talkus {
    width: 150px;
    height: 50px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 25px;
    color: black;
    font-family: 'Cinzel', serif;
    font-size: medium;
    font-weight: bold;
    margin: auto;
    margin-right: 80px;
}

#talkus:hover {
    background-color: rgba(1, 1, 1, 0);
    color: orange;
    cursor: pointer;
    text-transform: uppercase;
}

#profilepic {
    width: 67px;
    margin: 20px;
    border-radius: 10px;
    color: orange;
    font-family: 'Cinzel', serif;

}

#profilepic img {
    width: 100%;
}

#myhype {
    color: orange;
    margin: 20px;
    align-self: flex-end;
}

#explanations {
    font-family: 'Cardo', serif;
    font-weight: lighter;
    margin-bottom: 80px;

}

#mypic {
    width: 797px;
    margin: 30px;
}

#myhype h1,
#myhype h4 {
    margin: 15px;
    margin-left: auto;

}

#myhype h1 {
    font-family: 'Kaushan Script', cursive;
}

#myhype h4,
#myhype h3 {
    font-family: 'Cardo', serif;
}


#mypic img {
    width: 100%;
}


#concall {
    display: inline;
}

.social {
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
}

.socials a,
.hypetags {
    text-decoration: none;
    color: orange;
    font-family: 'Kaushan Script', cursive;
}

.hypetags:hover {
    text-decoration: underline;
    color: darkorange;
}
.unordered-list{
    margin: 80px;
    margin-top: 0px;
    padding-top: 0px;
}
.unordered-list li{
    margin: 0px;
    padding: 0px;
}
.unordered-list li a{
    text-decoration: none;
    color: orange;
    font-family: 'Cardo', serif;
    font-size: large;
}
