* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;

}


.container {
    padding: 2px;
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.item {
    margin: 20px;
    align-self: center;
    flex: 1;

}

.linkcontainer {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.list {
    font-weight: bold;
    font-size: medium;
    margin: 15px;
}

.navs a {
    text-decoration: none;
    color: orange;
    font-size: large;
    font-family: 'Cinzel', serif;
}

#talkus {
    width: 150px;
    height: 50px;
    background-color: rgba(1, 1, 1, 0);
    border: 2px solid orange;
    border-radius: 25px;
    color: orange;
    font-family: 'Cinzel', serif;
    font-size: medium;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
}

#talkus:hover {
    background-color: orange;
    color: black;
    cursor: pointer;

}

#profilepic {
    width: 67px;
    margin: 20px;
    color: orange;
    font-family: 'Cinzel', serif;

}

#profilepic img {
    width: 100%;
}

#myhype {
    color: orange;
    margin: 20px;
    align-self: flex-end;
}

#explanations {
    font-family: 'Cardo', serif;
    font-size: large;
    font-weight: lighter;
    margin-bottom: 30px;

}

#mypic {
    width: 797px;
    margin: 30px;
    color: orange;
    text-align: center;
    font-family: 'Cinzel', serif;
}

#myhype h1,
#myhype h4 {
    margin: 15px;
    margin-left: auto;

}

#myhype h1 {
    font-family: 'Kaushan Script', cursive;
}

#myhype h4 {
    font-family: 'Cardo', serif;
}


#mypic img {
    width: 100%;
}



.social {
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.socials a {
    text-decoration: none;
    color: orange;
    font-family: 'Kaushan Script', cursive;
}
.ordered-list li {
    color: rgb(163, 144, 6);
    padding: 5px;
    margin-left: 50px;
}

.navs a:hover,.socials a:hover{
    color:chocolate;
}